/* tab bar remove */
#TabsToolbar{
visibility: collapse !important;
}
#sidebar-header{
/*visibility: collapse !important;*/
padding-bottom: 0px !important;
padding-top: 1px !important;
}
#TabsToolbar {
margin-bottom: -30px !important;
}

/* toolbar (the one with url) size */
toolbar {
padding-left: 10px !important;
padding-right: 140px !important;
padding-bottom: 0px !important;
padding-top: 0px !important;
}

/* sidebar title remove */
#navigator-toolbox::after {
border-bottom: 1px solid #474749 !important;
}

/* remove Sidebar maximum width restriction */
#sidebar {
max-width: none !important;
min-width: 20px !important;
} 